html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0;}
/* CSS Stylesheet */
::selection {background: #000;color: #E7E7E7;
}
*{font-family: 'BKoodakBold' !important;}
body{ background:#eaedf2; margin-top:10px; direction:rtl;}
a{ text-decoration:none; color:#515151;}a:link{ text-decoration:none;}a:hover{ text-decoration:none;}
.right{ float:right;}
.left{ float:left;}
.wide{ width:55% !important;}
.btn-primary{ width:19%;}
input[type=text],input[type=password]{
	background:#f8f8f8; border:solid 1px #ccc;; height:33px; padding-right:1%; width:23%; font-size:16px;	
}
input[type=text]:disabled{ cursor:not-allowed; background:#e0dcdc;}

select{ width:19%; height:35px;background:#e4e4e4 url(../images/arrow.png) right center no-repeat;
appearance:none;
-moz-appearance:none;
text-indent: 0.01px;
text-overflow: '';
-webkit-appearance:none;
padding-right:3%;
border:none;
font-size: 14px;
color: #414141;
}
@-moz-document url-prefix() { select{ position:relative; top:-5px;} }

button,input[type=submit]{ border:none; background:#383737; color:#fff; font-size:14px; padding:0.5% 1%; cursor:pointer; width:12.5%; float:left;}
.transition{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	o-transition: all 0.3s ease-in-out;	
}
#excel{ font-family:Tahoma, Geneva, sans-serif !important;}
.hidden{ width:90%; margin:0 auto;}

.header img{ margin-left:10px;}
.header h2{ color:#129e89;position: relative;top: 25px;}
.header h1{ color:#1f4971; font-size:18px;margin-top: 25px;}

.details{ margin-top:-25px;}

.btn{ padding:2px 30px; color:#fff; cursor:pointer; border:none; font-size:16px;}
.btn-rose{ background:#f75455 url(../images/exit.png) right center no-repeat;}
.btn-rose:hover{ background:#cc3e3e url(../images/exit.png) right center no-repeat;}

.btn-sky{ background:#5eb9d3;}
.btn-sky:hover{ background:#4693a9;}

.btn-gray{ background:#383737;}
.btn-gray:hover{ background:#222121;}

.btn-orange{ background:#3e6c97 url(../images/arrow2.png) right center no-repeat; padding-right:50px; float:left; width:134px;}
.btn-orange:hover{background:#1f4971 url(../images/arrow2.png) right center no-repeat}
#input_tools{position:absolute;left:0;width:214px;background:#1e4970;margin-top:122px;z-index:222;display:none;border-top: solid 1px #33415E}
#input_tools ul{ list-style:none;}
#input_tools ul li{ line-height:34px; border-bottom: solid 1px #3C6081;font-size:14px;}
#input_tools ul li a{ color:#fff; font-size:14px; display:block; padding-right:7px;}
#input_tools ul li a:hover{ background:#3e6c97;}

#input_tools ul li label{ display:block; padding-right:8px; margin-bottom:5px; color:#fff;}
#input_tools ul li select{ width:95%; margin:0 auto; display:block; padding-right:40px;}
.btn-block{ width:80px; margin:0 5px 5px 0; padding:0 5px; background:#6BC275;}
.btn-block:hover{ background:#53A35C !important;}

#input_tools ul li input[type=text]{
width: 95% !important;
display: block !important;
margin: 0 auto !important;
}


.personalUser select{ width:11%;}
.personalUser label{ margin-right:2px;}
.personalUser input[type=text]{ width:10%;}

.content{ background:#fff; width:86%; padding:3% 2%; margin:0 auto; clear:both; position:relative;}
/**** tabular ***/
.tabular{ clear:both; margin-top:90px;}
.tabular ul{ list-style:none; margin-top:20px;}
.tabular ul li{ float:right;}
.tabular ul li a{ display:block; padding:0px 22px; background:#3E6C97; font-size:20px; color:#fff;}
.tabular ul li .current{ background:#fff !important; color:#33afc9;line-height: 45px;margin-top: -8px;}

/*** table ***/
#list a,#user-list a{ color:#CC0000;}
#mission a{ color:#03C;}

#overtime,#mission,#approve,.table77{ width:100%; color:#707070; border-spacing:0;}
#overtime thead tr,#mission thead tr,#approve thead tr,.table77 thead tr{ background:#f5f4f4; line-height:30px;}
#overtime thead th,#mission thead th,#approve thead th,.table77 thead th{border:solid 1px #ccc; border-left:none;}#mission thead th:last-child,#approve thead th:last-child,#overtime thead th:last-child,.table77 thead th:last-child{ border-left:solid 1px #ccc;}
#overtime tbody td,#mission tbody td,#approve tbody td,.table77 tbody td{border:solid 1px #ccc; border-left:none; border-top:none; text-align:center;}#overtime tbody td:last-child,#mission tbody td:last-child,#approve tbody td:last-child,.table77 tbody td:last-child{border-left:solid 1px #ccc !important;}
#overtime tbody tr:hover,#mission tbody tr:hover,#approve tbody tr:hover,.table77 tbody tr:hover{ background:#eff7ff; border:solid 2px #EFEFEF;}

#mi-list td,#usr-list td{ padding-top:3px;}
#mi-list select,#usr-list select{width: 80%; padding-right: 20%;}
#mi-list input[type=text],#mi-list input[type=password]{ width:80% !important;}
#usr-list input[type=text],#usr-list input[type=password]{ width:80% !important;}

.table77{ margin-bottom:10px;}
.table77 th{ font-weight:normal !important;}
.table77 td{ padding:5px 0;}

.table772 th{ width:15%;}
.table772 input[type=text]{ width:90% !important;}
.table772 input[type=password]
.table772 #usertype{ width:90% !important;}

.list-style li{ width:50%; float:right;}

.table_test7{width: 100%;padding: 7px;}
.table_test7 tr{ margin-bottom:8px;}
.table_test7 input[type=text],.table_test7 input[type=password]{ width:100%; background-color:#fff; margin-bottom:10px;}
.table_test7 select{ width:101%; background-color:#fff; margin-bottom:10px; border:solid 1px #ccc;padding-right:30px;}

/******/
.task-box {position: absolute;background: #E4E4E4;left: 0;top: 0;width: 40%;margin-left: 8%;border: solid 1px #A3A3A3;}
.report-box {position: absolute;background: #E4E4E4;left: 0;top: 0;width: 550px;margin-left: 19%;border: solid 1px #A3A3A3;
}
.section-title {background: #686868;line-height: 35px;color: white;padding-right: 10px;}
.close-button {margin-top: 0px;float: left;width: 35px; cursor:pointer;}

.art{ margin-top:10px; padding:5px;}
.art select{background-color:#F7F7F7;padding-right: 11%; width:100%;}
.art input[type=password],.art input[type=text]{ width:100%;}
.art label{ margin-left:5px;}
.art .pcalBtn{ margin-top:-28px !important;}

#selectAll{ color:#360;}

.persian_date a.pcalBtn{margin-top: -30px; padding-right: 0 !important;}
.persian_date a.pcalBtn:hover{ background:inherit;}

/*
#year{width: 88%}
#start-month,#start-month-detail{ width:65%;}
#end-month,#end-month-detail{ width:67%;}
#current{ width:78%;}#new1{ width:77%;}#new2{ width:54%;}
*/
.submit2{width: 40%;margin: 10px 0;}
.msgbox {
position: absolute;
background-color: #F5CF2E;
color: #4C4C4C;
right: 45%;
top: 5%;
padding: 2px 20px;
text-align: center;
z-index:111;
}
.dur-msg {
background-color: #B3CEFF;
color: #272727;
padding: 1%;
margin-top: 2%;
}
.editbox {
width: 98.1%;
background-color: #FFE684;
margin: 20px 0;
padding: 1%;
}
#edit_desc{ width:26%; float:left;}

.btn-warning{ float:right;float: right;margin-top: 20px;margin-right: 2px;background: #D31B1B;	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	o-transition: all 0.3s ease-in-out;}
	.btn-warning:hover{ background:#ba1717;}
.btn-info{ float:right; margin-top:20px;background: #44A544;	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	o-transition: all 0.3s ease-in-out;}
.btn-info:hover{ background:#297d29;}

.btn-group{float: right;}
.btn-group .btn{ margin-right:7px;}


.payment-edit-box {
    width: 100%;
    background-color: rgb(241, 241, 241);
}

#msg_error{ color:red; display:none; margin-right:10px;}
#msg_success{ color:green; display:none; margin-right:10px;}

@media (max-width: 930px){
	button{ font-size:12px; float:none;}
}
@media (max-width: 780px){
	.wide{ width:23% !important;}
	input[type=text]{width: 48.7%; margin-bottom:5px;}
	select{ width: 49.3%; margin-bottom:5px;}
	button{ font-size:14px; width:24%; float:none;}
	.details{ margin-top:0px;}
}
@media (max-width: 660px){
	.wide{ width:23% !important;}
	.tabular{ margin-top:120px;position: relative;top: 30px;}
	.details{ margin-top:5px; float:right;}
	.btn-orange{position: absolute;right: 0;margin-top: -20px;}
	.content{ top:30px;}
	#input_tools{right: 0px;margin-top: 12px !important;}
}
@media (max-width: 550px){
	.pcalBtn{margin-top: -32px !important;}
	input[type=text]{width:100%;}
	input.pdate{ margin-right:0 !important; width:99.3% !important; margin-bottom:5px !important;}
	select{ width:100%; margin-bottom:5px;}
}
@media (max-width: 360px){
	.header h2{ clear:both;}
	.btn-orange{ margin-top:10px !important;}
	.btn-rose{position: relative;top: 6px;}
	.content{ top:60px !important;}
	.tabular{top: 60px !important;}
}

.add_task_table{}
.add_task_table  tr td{width:45%; padding:2%;}
.add_task_table ul{ list-style:none;}
.add_task_table ul li{ width:100%;}
.add_task_table ul li a.pcalBtn{ margin-top:-30px !important;}
.add_task_table ul li input[type=text],.add_task_table ul li select{
width: 100% !important;
margin: 0;
background-color: #CECECE;
border: solid 1px rgb(175, 175, 175);
padding-right: 15%;
display: block;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.add_task_table ul li select{background: #CECECE url(../images/arrow.png) right center no-repeat;}
.add_task_table ul li button{width:40% !important;}
#selectitem{ float:none !important;}
.btn_add_task{float: none !important;
width: 50% !important;
margin-top: 10px;}

.section-body  button{ width:27%; float:right !important;}

.details_home img{float:right;margin: 4px 6px;}
.details_home{width: 120px;
height: 32px;float:right;
background: rgb(201, 201, 201);
border-radius: 4px;
line-height: 32px; margin-left:7px; margin-bottom:13px; }
.details_home b{ color:#555; cursor:pointer;}
.details_home .plus{
color: #fff;
background: green;
width: 20px;
height: 20px;
display: block;
float: right;
margin: 6px;
line-height: 20px;
text-align: center;
border-radius: 7px;
}
.count_inbox{color: white !important;
float: right;
width: 20px;
background: red;
display: block;
border-radius: 10px;
text-align: center;
line-height: 20px;
margin: 7px;}
.report-box  button{ float:right !important; width:20%; margin-left:5px;}

#add-tasklist-log ul{ list-style:none;}
#add-tasklist-log ul li{width:100%;}
#add-tasklist-log ul li input[type=text]{ width:99% !important; margin:0;}
#add-tasklist-log ul li .pcalBtn{ margin-top:-30px;}
#save-tasklist-log{ margin-top:7px;}

.your_address{clear: both;
margin-bottom: 13px;
background: rgb(233, 233, 233);
padding: 2px 10px;
border-radius: 4px;}
